.Toolbar {
  height: 40px;
  width: 100%;
  background-color: rgb(51, 51, 51);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.Toolbar__menu {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.Toolbar nav {
  height: 100%;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}
